.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    color: var(--light-blue);
    margin: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--light-grey);
    overflow: hidden;
}

#app {
    width: 50vw;
    height: 90vh;
    background-color: var(--dark-purple);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

ul.task-list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--light-purple);
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    padding: 15px;
    position: relative;
}

.completed {
    text-decoration: line-through;
    color: var(--dark-grey);
}

.completed-task {
    filter: brightness(0.5);
}

form {
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.popup-buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--orange);
}

.popup-buttons button:hover {
    filter: brightness(0.9);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.completion-popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.progress-bar {
    height: 4px;
    background-color: var(--orange);
    margin-top: 5px;
    width: 100%;
    transition: width 0.1s linear;
}

.add-task-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

input, button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    font-size: 16px;
}

.button-group {
    position: absolute;
    bottom: 1px;
    right: 10px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--orange);
    margin: 0 5px;
    text-align: center;
}

button:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.complete-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.complete-checkbox:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.complete-checkbox:checked {
    background-color: var(--orange);
}

.complete-checkbox:checked::before {
    content: "✔";
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-image {
    width: 20px;
    height: 20px;
}

.delete-button .icon-image {
    filter: invert(28%) sepia(90%) saturate(5400%) hue-rotate(358deg) brightness(100%) contrast(81%);
}

.add-task-image {
    width: 50px;
    height: 50px;
    filter: invert(85%) sepia(7%) saturate(2686%) hue-rotate(171deg) brightness(100%) contrast(106%);
}

input[type="text"], input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}

.task-container {
    display: flex;
    align-items: center;
}

.task-details {
    flex-grow: 1;
    margin-left: 15px;
}

.task-list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
}

.task-list-container::-webkit-scrollbar {
    width: 10px;
}

.task-list-container::-webkit-scrollbar-track {
    background: var(--dark-purple);
}

.task-list-container::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 10px;
    border: 2px solid var(--dark-purple);
}

.task-list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--orange);
    transition: all 0.3s ease;
}

.task-name {
    font-weight: bold;
    font-size: 20px;
    color: var(--light-blue);
    margin-bottom: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
}

.task-description {
    font-style: italic;
    color: var(--white);
    margin-bottom: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
}

.task-deadline {
    font-size: 14px;
    color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.past-deadline {
    color: var(--red);
}

:root {
    --white: #fdfdfe;
    --light-grey: #ccc;
    --dark-grey: #b2b2b2;
    --light-purple: #3f4c80;
    --dark-purple: #392e66;
    --orange: #fd832e;
    --light-blue: #52fdfe;
    --red: red
}
